.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;

  > {
    .navbar-header,
    .navbar-collapse {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

@include media-breakpoint-up(md) {
  .container,
  .container-fluid {
    > {
      .navbar-header,
      .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
