.img-thumbnail {
  line-height: $line-height-base;
  @include transition(all 0.2s ease-in-out);
  display: inline-block;
  border: none;
  @include box-shadow(none);
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: $border-radius * 2;
}

.img-circle {
  border-radius: 50%;
}
