.pagination {
  // Pagination
  font-weight: $font-weight-normal;

  --#{$prefix}pagination-color: #{$pagination-color};

  --#{$prefix}pagination-hover-bg: #{$pagination-hover-bg};

  --#{$prefix}pagination-active-color: #{$pagination-active-color};
  --#{$prefix}pagination-active-bg: #{$pagination-active-bg};

  --#{$prefix}pagination-disabled-color: #{$pagination-disabled-color};
}

.page-link {
  border-radius: $border-radius;
}

.page-item {
  margin: 0 2px;
}

[data-bs-theme='dark'] {
  .pagination {
    // Pagination

    --#{$prefix}pagination-color: #{$pagination-color-dark};

    --#{$prefix}pagination-hover-bg: #{$pagination-hover-bg-dark};

    --#{$prefix}pagination-active-color: #{$pagination-active-color-dark};
    --#{$prefix}pagination-active-bg: #{$pagination-active-bg-dark};

    --#{$prefix}pagination-disabled-color: #{$pagination-disabled-color-dark};
  }
}
