@use 'sass:math';

@include media-breakpoint-up(md) {
  .lead {
    font-size: 1rem;
  }
}

// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: $font-size-base;

  small,
  .small {
    color: var(--#{$prefix}text-muted);
    font-weight: $font-weight-base;
    line-height: 1;
    font-size: 92%;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: $headings-margin;
  margin-bottom: $headings-margin;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: $headings-margin;
  margin-bottom: $headings-margin;
}

.blockquote {
  padding: $blockquote-margin-y 0px $blockquote-margin-y $blockquote-margin-y * 2;
  border-left: 5px solid var(--#{$prefix}blockquote-border-color);

  p {
    font-size: inherit;
    margin-bottom: math.div($line-height-computed, 2);
  }

  &.blockquote-sm {
    padding: 0 0 0 15px;
    font-size: $font-size-base;
  }
}

// Forms

input[type='search'],
input.search {
  padding-left: 26px;
  background-color: var(--#{$prefix}body-bg);
  background: var(--#{$prefix}input-search-image) 5px 5px no-repeat var(--#{$prefix}body-bg);
}

.gradient_left_border {
  border-left: 1px dashed transparent;
  border-image: linear-gradient(0turn, transparent, var(--#{$prefix}tertiary-color), transparent);
  border-image-slice: 1;
}

.gradient_right_border {
  border-right: 1px dashed transparent;
  border-image: linear-gradient(0turn, transparent, var(--#{$prefix}tertiary-color), transparent);
  border-image-slice: 1;
}

.gradient_bottom_border {
  border-bottom: 1px dashed transparent;
  border-image: linear-gradient(0.25turn, transparent, var(--#{$prefix}tertiary-color), transparent);
  border-image-slice: 1;
}
