<div class="row darkBack" style="margin-left: 0px;margin-right: 0px; padding: 20px 0px 0px 0px;border-radius: 3px;">
    <div class="col-md-5">
        <div class="footer-widget">
            <h3 class="footer-title" style="margin-top: 0px; font-weight: bold;">About us</h3>
            <ul class="footer-links clearfix">
                <li><a href="#" style="color: #d2d2d2; text-decoration: none; font-size: 12px;">회사소개</a></li>
                <li><a href="#" style="color: #d2d2d2; text-decoration: none; font-size: 12px;">비즈니스</a></li>
                <li><a href="#" style="color: #d2d2d2; text-decoration: none; font-size: 12px;">제휴문의</a></li>
                <li><a href="#" style="color: #d2d2d2; text-decoration: none; font-size: 12px;">이용약관</a></li>
                <li><a href="#" style="color: #d2d2d2; text-decoration: none; font-size: 12px;">운영정책</a></li>
                <li><a href="#" style="color: #d2d2d2; text-decoration: none; font-size: 12px;">개인정보처리방침</a></li>
                <li><a href="#" style="color: #d2d2d2; text-decoration: none; font-size: 12px;">웹접근성안내</a></li>
                <li><a href="#" style="color: #d2d2d2; text-decoration: none; font-size: 12px;">고객센터</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="footer-widget">
            <h3 class="footer-title" style="margin-top: 0px; font-weight: bold;">Get in touch</h3>
            <address class="contact-widget">
                <p style="margin-bottom: 25px;">
                    <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;&nbsp;313devgrp@gmail.com
                </p>
                <p><i class="fa fa-phone-square"></i>&nbsp;&nbsp;&nbsp;+82 10 5093 7313</p>
            </address>
        </div>
    </div>
    <div class="col-md-5">
        <div class="footer-widget">
            <h3 class="footer-title" style="margin-top: 0px; font-weight: bold;">Rights & Addr</h3>
            <p style="margin-bottom: 25px; font-size: 12px;">
                <i class="fa fa-globe"></i>&nbsp;&nbsp;313 B/D Dosan-daero, Gangnam-gu, Seoul, Republic of Korea 06021
            </p>
            <p class="font13" style="color: #d2d2d2; font-size: 12px;">
                &copy;&nbsp;&nbsp;Copyright 2010-2024
                <a href="https://www.313.co.kr" style="text-decoration: none;">313DEVGRP</a>
                . All rights reserved.
            </p>
        </div>
    </div>
</div>

<style>
    .footer-title {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 18px;
        margin-bottom: 30px;
        color: #f8f8f8;
        letter-spacing: 1px;
        padding: 0 0 0 15px;
        border-left: 2px solid #E49400;
    }

    .contact-widget {
        font-size: 12px;
    }

    address {
        margin-bottom: 20px;
        font-style: normal;
        line-height: 1.42857143;
    }

    .footer-links > li {
        margin: 0 20px 25px 0;
        display: inline-block;
        list-style: none;
    }
</style>