.input-group {
  > .form-control {
    margin-bottom: 0;

    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.input-group-text {
  color: var(--#{$prefix}input-group-addon-color);
  background-color: var(--#{$prefix}input-group-addon-bg);
  border: $input-border-width solid var(--#{$prefix}input-group-addon-border-color);
  font-size: $font-size-base;
  line-height: 1;

  &:last-child {
    border-left: 0;
  }

  input {
    &[type='radio'],
    &[type='checkbox'] {
      margin-top: 0;
    }
  }
}
